<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="banner-cont-wrap">
                <h1>Locate, Estimate
                    & Predict
                    with Confidence</h1>

                <p>A comprehensive analytics framework, backed by independent data and verified by credible
                    institutions, now empowering property buyers across India.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="banner-main-img-wraper">
                <span class="banner-bg-1">
                    <img src="./assets/src/images/banner/banner-bg-1.svg" alt="">
                </span>
                <img src="./assets/src/images/banner/banner-img.png" alt="">
                <span class="banner-bg-2">
                    <img src="./assets/src/images/banner/banner-bg-2.svg" alt="">
                </span>
            </div>
        </div>

    </div>
</div>