
<div class="container">
    <div class="row">
        <div class="col-xl-6">
                  <div class="Desktop-Valuation-main-img-wrap">
                    <img src="./assets/src/images/Home-1/Desktop-Valuation/Desktop-Valuation-main-img.png" alt="">

                    <div class="Desktop-Valuation-card-wrap">
                        <div class="Desktop-Valuation-card">
                            <img src="./assets/src/images/Home-1/Desktop-Valuation/Desktop-Valuation-chart-1.png" alt="">
                        </div>
                        <div class="Desktop-Valuation-card">
                            <img src="./assets/src/images/Home-1/Desktop-Valuation/Desktop-Valuation-chart-2.png" alt="">
                        </div>
                    </div>
                  </div>
        </div>
        <div class="col-xl-6">
             <div class="Desktop-Valuation-main-cont-wrap">
                <h2 class="Desktop-Valuation-main-tit">
                    Desktop Valuation
                </h2>

                <h5 class="Desktop-Valuation-main-para">Have you checked the fair price of your property?</h5>

                <a href="#" class="primary-btn Desktop-Valuation-btn">
                    Find your Home Now
                </a>

                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/Home-1/House-Hunt/search.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Data Driven</h5>
                        <p>Desktop valuation uses India’s first AVM (Automated Valuation Module) along side verified primary and secondary data sources for accurate value assessments.</p>
                    </div>
                </div>

                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/Home-1/House-Hunt/compare.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Remote Process</h5>
                        <p>No subjective intervention; valuation is conducted entirely online.</p>
                    </div>
                </div>
                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/common/tick-icon.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Time-Efficient</h5>
                        <p>Provides quick property or asset evaluations, saving time compared to traditional methods.</p>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>