<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">Real Estate</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Infrastructure</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                        aria-selected="false">Demographics</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-Geograhics-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-Geograhics" type="button" role="tab" aria-controls="pills-Geograhics"
                        aria-selected="false">Geograhics</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
                    tabindex="0">
                    <div class="home-tab-sec-card-wrap">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/Home-1/House-Hunt/search.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/common/flag-icon.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/common/bar-chart.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
                    tabindex="0">
                    <div class="home-tab-sec-card-wrap">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/Home-1/House-Hunt/search.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/common/flag-icon.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/common/bar-chart.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                    tabindex="0">
                    <div class="home-tab-sec-card-wrap">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/Home-1/House-Hunt/search.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/common/flag-icon.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/common/bar-chart.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-Geograhics" role="tabpanel" aria-labelledby="pills-disabled-tab"
                    tabindex="0">
                    <div class="home-tab-sec-card-wrap">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/Home-1/House-Hunt/search.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/common/flag-icon.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="House-Hunt-cont-card">
                                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                                        <img src="./assets/src/icons/common/bar-chart.svg" alt="">
                                    </div>

                                    <div class="House-Hunt-cont-card-cont">
                                        <h5>Property Search</h5>
                                        <p>Tracks new construction and builder-supplied properties entering the market.
                                            This data provides insight into current supply trends, upcoming project
                                            launches, and the overall health of the real estate sector.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>