<div class="container">
  <div class="row">
    <div class="HomeGet-Touch-with-Us-wrap">
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="HomeGet-Touch-with-Us-cont-wrap">
            <h3>Get In Touch with us</h3>
            <p>
              Reach out to our team of experts and let's discuss how we can work
              together to achieve your goals.
            </p>

            <a href="#" class="HomeGet-Touch-with-Us-btn primary-btn">
                Contact Us
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
