<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="Home-Grid-cards-wraper">
                <div class="Home-Grid-cards-1">
                    <div class="Home-Grid-cards-chart">
                        <img src="./assets/src/images/Home-1/grid-sec/Organic-Position-Distribution.svg" alt="">
                    </div>
                </div>
                <div class="Home-Grid-cards-2">
                    <div class="Home-Grid-cards-hailights-one">
                        <div>
                            <h5 class="Home-Grid-cards-hailights-one-num">
                                1.7k+
                            </h5>

                            <span class="Home-Grid-cards-hailights-one-num-span">All properties</span>
                        </div>

                        <div class="primary-icon-wrap">
                            <img src="./assets/src/icons/common/profile-icon.svg" alt="">
                        </div>


                    </div>
                </div>
                <div class="Home-Grid-cards-3">
                    <div class="Home-Grid-para-card">
                    <p>Distance, Density, Surroundings, and Product are converted into data vectors, making it easier to
                        evaluate each property's return on investment (ROI) and risk level.</p>
                    </div>
                </div>
                <div class="Home-Grid-cards-4">
                    <div class="Home-Grid-rio">
                        <span>ROI</span>
                    </div>
                </div>
                <div class="Home-Grid-cards-5">
                    <div class="Home-Grid-cards-chart-2">
                        <img src="./assets/src/images/Home-1/grid-sec/Organic-Position-Distribution-2.svg" alt="">
                    </div>
                </div>
                <div class="Home-Grid-cards-6">
                    <div class="Home-Grid-card-see-testimonial">
                        <span>
                            See Testimonials
                        </span>

                        <div class="Home-Grid-card-see-testimonial-imgs-wraper">
                            <img src="./assets/src/images/Home-1/grid-sec/profile-1.png" alt="">
                            <img src="./assets/src/images/Home-1/grid-sec/profile-2.png" alt="">
                            <img src="./assets/src/images/Home-1/grid-sec/profile-3.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="Home-Grid-cards-7">
                    <div class="Home-Grid-cards-hailights-two">
                        <span class="10x-Sales-Growth">
                            10x Sales Growth
                        </span>

                        <div class="Home-Grid-cards-hailights-two-innter-card">
                            <div>
                            <h5>
                                $ 84573 <b>+15.6%</b>
                            </h5>
                            <p>Compared to ($3400 last year)</p>
                        </div>

                        <div class="Home-Grid-cards-hailights-two-img primary-icon-wrap">
                            <img src="./assets/src/icons/common/tick-icon.svg" alt="">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>