<div class="container">
    <div class="row">
        <div class="col-xl-7">
            <div class="House-Hunt-cont-wrap">
                <h2 class="House-Hunt-main-tit">
                    House Hunt
                </h2>

                <h5 class="House-Hunt-main-para" >Did you choose your property from 20,000+ projects to choose from?</h5>

                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/Home-1/House-Hunt/search.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Property Search</h5>
                        <p>Exploring listings based on budget, location, and preferences.</p>
                    </div>
                </div>
                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/Home-1/House-Hunt/compare.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Property Search</h5>
                        <p>Exploring listings based on budget, location, and preferences.</p>
                    </div>
                </div>
                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/common/tick-icon.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Property Search</h5>
                        <p>Exploring listings based on budget, location, and preferences.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-5">
                   <div class="House-Hunt-main-img-wrap">
                    <div class="House-Hunt-main-img">
                        <img src="./assets/src/images/Home-1/House-Hunt/House-Hunt-main-img.png" alt="">
                    </div>

                    <div class="House-Hunt-card-wrap">
                        <div class="House-Hunt-cards">
                            <div class="House-Hunt-card-img">
                                <img src="./assets/src/images/Home-1/House-Hunt/House-Hunt-card-img.png" alt="">
                            </div>

                            <div class="House-Hunt-card-cont">

                            
                            <h5 class="House-Hunt-card-tit">
                                $395,000
                            </h5>

                            <p class="House-Hunt-card-para">Luxury family Home</p>

                             <div class="House-Hunt-card-innter-card-bottom">
                                    <span class="pe-5"><img src="./assets/src/icons/common/location.svg" alt="">1800-1818 79th St</span>
                                    <span><img src="./assets/src/icons/common/beds.svg" alt="">4</span>
                                    <span><img src="./assets/src/icons/common/shower.svg" alt="">1</span>
                                    <span><img src="./assets/src/icons/common/room-size.svg" alt="">400</span>
                             </div>

                            </div>
                        </div>

                        <div class="House-Hunt-cards">
                            <div class="House-Hunt-card-img">
                                <img src="./assets/src/images/Home-1/House-Hunt/House-Hunt-card-img.png" alt="">
                            </div>

                            <div class="House-Hunt-card-cont">

                            
                            <h5 class="House-Hunt-card-tit">
                                $395,000
                            </h5>

                            <p class="House-Hunt-card-para">Luxury family Home</p>

                             <div class="House-Hunt-card-innter-card-bottom">
                                    <span class="pe-5"><img src="./assets/src/icons/common/location.svg" alt="">1800-1818 79th St</span>
                                    <span><img src="./assets/src/icons/common/beds.svg" alt="">4</span>
                                    <span><img src="./assets/src/icons/common/shower.svg" alt="">1</span>
                                    <span><img src="./assets/src/icons/common/room-size.svg" alt="">400</span>
                             </div>

                            </div>
                        </div>
                    </div>
                   </div>
        </div>
    </div>
</div>