<div class="container">
    <div class="row">
        <h2 class="IndiaOldest-Largest-Repository-main-tit">
            India’s Oldest and largest repository
            of Real estate data
        </h2>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="Indias-Oldest-largest-repository-card">
                <h4 class="Indias-Oldest-largest-repository-tit">
                    01
                </h4>

                <h6 class="Indias-Oldest-largest-mini-tit">Primary Data
                    (Developers Supply)</h6>

                <p>Tracking of 20,000+ live projects through field survey</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="Indias-Oldest-largest-repository-card">
                <h4 class="Indias-Oldest-largest-repository-tit">
                    02
                </h4>

                <h6 class="Indias-Oldest-largest-mini-tit">Secondary Data 
                    (Resale)</h6>

                <p>Listing data of 1million properties.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="Indias-Oldest-largest-repository-card">
                <h4 class="Indias-Oldest-largest-repository-tit">
                    03
                </h4>

                <h6 class="Indias-Oldest-largest-mini-tit">Registration Data</h6>

                <p>Up-to-date mapping of 5 million legal transactions.</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="Indias-Oldest-largest-repository-card">
                <h4 class="Indias-Oldest-largest-repository-tit">
                    04
                </h4>

                <h6 class="Indias-Oldest-largest-mini-tit">RERA Data</h6>

                <p>Data of all RERA registered projects.</p>
            </div>
        </div>
    </div>
</div>