<!-- Investible-Score-Report-Sec  -->
<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <div class="Investible-Score-Report-cont-wrap">
                <h2 class="Investible-Score-Report-main-tit">
                    Investible Score Report
                </h2>
                <h5 class="Investible-Score-Report-main-para">Do you know the expected returns from
                    your property?</h5>

                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/common/flag-icon.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Future Price Projection</h5>
                        <p>Predicting future price appreciation influenced by improving infrastructures and commutation
                            time in the city along with current price productivity.</p>
                    </div>
                </div>

                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/common/bar-chart.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Location Affluency Index</h5>
                        <p>Giving you context on relative grade of locality and determining neighbourhood profile of the
                            project’s location.</p>
                    </div>
                </div>

                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/common/bookmarks.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Investible Score</h5>
                        <p>A score indicating the return probability of a project.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="Investible-Score-Report-main-img-wrap">
                <div class="Investible-Score-Report-main-inner-cards-wrap">
                    <div class="Investible-Score-Report-main-inner-card">
                        <h6 class="Investible-Score-Report-main-inner-card-tit">
                            Teacher’s Colony
                        </h6>

                        <span><img src="./assets/src/icons/common/properties-icon.svg" alt=""> 44 properties</span>
                        <span><img src="./assets/src/icons/common/Builder-icon.svg" alt=""> 44 properties</span>
                        <span><img src="./assets/src/icons/common/bed-icon.svg" alt=""> 44 properties</span>
                        <span><img src="./assets/src/icons/common/currency-rupee-iocn.svg" alt=""> 44 properties</span>
                    </div>

                    <div class="Investible-Score-Report-main-inner-card-two">
                        <h6>Price Details</h6>

                        <span>Price <b>₹7500</b></span>
                        <span>Discount <b>(-) ₹750</b></span>
                        <span>GST (18%) <b>(+) ₹1215</b></span>
                        
                        <span class="total-amt">Total<b>₹7965</b></span>

                        <span class="Investible-Score-Report-copy-rights">
                            <input type="checkbox" name="" id=""> <p class="x-small-font">Read & Accept the terms & conditions before proceeding to pay.</p>
                        </span>

                        <button class="Investible-Score-Report-pay-btn">
                            Pay  ₹7965
                        </button>

                        <span>
                            <p class="x-small-font">Stress testing report will be delivered to you with three working days at your registered email-id</p>
                        </span>

                         

                    </div>


                </div>

                <div class="Investible-Score-Report-main-img">
                    <img src="./assets/src/images/Home-1/Investible-Score-Report/Investible-Score-Report.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>