<div class="container">
    <div class="row">
        <div class="col-xl-6">
                  <div class="Desktop-Valuation-main-img-wrap">
                    <img src="./assets/src/images/Home-1/SpeaktoanExpert/Speak-to-an-Expert.png" alt="">

                    <div class="Desktop-Valuation-card-wrap">
                        <div class="Desktop-Valuation-card">
                            <h5>10x Sales Growth</h5>
                            <div>
                                <div>
                            <span>$ 84573 <b>+15.6%</b></span>
                            <p>Compared to ($3400 last year)</p>
                              </div>
                              <div class="primary-icon-wrap">
                                <img src="./assets/src/icons/common/tick-icon.svg" alt="">
                              </div>
                           </div>
                        </div>
                        <div class="Speak-to-an-Expert-card">
                            <a href="#" class="primary-btn Desktop-Valuation-btn">
                                Find your Home Now
                            </a>
                        </div>
                    </div>
                  </div>
        </div>
        <div class="col-xl-6">
             <div class="Desktop-Valuation-main-cont-wrap">
                <h2 class="Desktop-Valuation-main-tit">
                    Speak to an Expert
                </h2>

                <h5 class="Desktop-Valuation-main-para">Unbiased solutions to your questions from a non-broking firm.</h5>

                

                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/Home-1/House-Hunt/search.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Professional Guidance</h5>
                        <p>Get insights from a specialist for informed decisions.</p>
                    </div>
                </div>

                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/Home-1/House-Hunt/compare.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Tailored Solutions</h5>
                        <p>Experts offer advice based on specific needs and goals.</p>
                    </div>
                </div>
                <div class="House-Hunt-cont-card">
                    <div class="House-Hunt-cont-card-icon primary-icon-wrap">
                        <img src="./assets/src/icons/common/tick-icon.svg" alt="">
                    </div>

                    <div class="House-Hunt-cont-card-cont">
                        <h5>Clarify Doubts</h5>
                        <p>Resolve uncertainties with expert knowledge and experience.</p>
                    </div>
                </div>
             </div>
             
        </div>
    </div>
</div>