<div class="container">
    <div class="row">
        <div class="row">
            <h2 class="What-our-client-says-main-tit">
                What our client says
            </h2>


        </div>

        <div class="row">
            <div class="swiper mySwiper" id="swiper1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="What-our-client-says-card">
                            <div class="What-our-client-says-card-img">
                                <img src="./assets/src/images/Home-1/What-our-client-says/testimonial-img.png" alt="">
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi</p>

                            <h5 class="What-our-client-says-card-name">
                                Rohan Singh <img src="./assets/src/icons/common/testimonial-start.svg" alt="">
                            </h5>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="What-our-client-says-card">
                            <div class="What-our-client-says-card-img">
                                <img src="./assets/src/images/Home-1/What-our-client-says/testimonial-img.png" alt="">
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi</p>

                            <h5 class="What-our-client-says-card-name">
                                Rohan Singh <img src="./assets/src/icons/common/testimonial-start.svg" alt="">
                            </h5>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="What-our-client-says-card">
                            <div class="What-our-client-says-card-img">
                                <img src="./assets/src/images/Home-1/What-our-client-says/testimonial-img.png" alt="">
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi</p>

                            <h5 class="What-our-client-says-card-name">
                                Rohan Singh <img src="./assets/src/icons/common/testimonial-start.svg" alt="">
                            </h5>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="What-our-client-says-card">
                            <div class="What-our-client-says-card-img">
                                <img src="./assets/src/images/Home-1/What-our-client-says/testimonial-img.png" alt="">
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi</p>

                            <h5 class="What-our-client-says-card-name">
                                Rohan Singh <img src="./assets/src/icons/common/testimonial-start.svg" alt="">
                            </h5>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="What-our-client-says-card">
                            <div class="What-our-client-says-card-img">
                                <img src="./assets/src/images/Home-1/What-our-client-says/testimonial-img.png" alt="">
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi</p>

                            <h5 class="What-our-client-says-card-name">
                                Rohan Singh <img src="./assets/src/icons/common/testimonial-start.svg" alt="">
                            </h5>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="What-our-client-says-card">
                            <div class="What-our-client-says-card-img">
                                <img src="./assets/src/images/Home-1/What-our-client-says/testimonial-img.png" alt="">
                            </div>

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi</p>

                            <h5 class="What-our-client-says-card-name">
                                Rohan Singh <img src="./assets/src/icons/common/testimonial-start.svg" alt="">
                            </h5>
                        </div>
                    </div>

                </div>
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
    </div>
</div>





<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->

<!-- <script>
    
</script> -->