<div class="container">
    <h2 class="Why-choose-us-main-tit">
        Why choose us?
     </h2>
    <div class="row">
         <div class="Why-choose-us-card-wrap">
            <div class="Why-choose-us-main-card">
                <h6>Proven Expertise</h6>
                <p>Proven to be best in predicting 
                    and analyzing Real Estate Market trends.</p>
            </div>

            <div class="Why-choose-us-main-card">
                <h6>Non-Broking</h6>
                <p>Non Broking and Independent Reality Research Company. Trusted by the most credible institution</p>
            </div>

            <div style="width: 379px; flex-shrink: 0; text-align: end; color: var(--primary);" class="Why-choose-us-main-card">
                <h6 style="">Trusted by 
                    credible institutions</h6>
            </div>

            <div class="Why-choose-us-main-card">
                <h6>Realytics</h6>
                <p>Property Science by Liases Foras, India's largest real estate data and market experts.</p>
            </div>
         </div>
         <div class="Why-choose-us-card-wrap">
            <div style="max-width: 167px; width: 100%; padding: 18px 20px;" class="Why-choose-us-main-card">
                <div class="primary-icon-wrap">
                    <img src="./assets/src/icons/common/profile-icon.svg" alt="">
                </div>
                <h5>+25 Years</h5>
                <p style="font-size: 12px; color: #BABABA;">Presence in industry</p>
            </div>

            <div style="max-width: 701px; width: 100%;" class="Why-choose-us-main-card">
                <h6 style="max-width: 230px; width: 100%; line-height: 30px; color: #80AFE3;">Non Broking 
                    Independent Reality 
                    Research Company</h6>
            </div>

            <!-- <div style="width: 379px; flex-shrink: 0; text-align: end; color: var(--primary);" class="Why-choose-us-main-card">
                <h6 style="">Trusted by 
                    credible institutions</h6>
            </div> -->

            <div class="Why-choose-us-main-card">
                <h6>Realytics</h6>
                <p>Property Science by Liases Foras, India's largest real estate data and market experts.</p>
            </div>
         </div>

         <div class="Why-choose-us-main-img">
            <img src="./assets/src/images/Home-1/Why-choose-us/Why-choose-us-main-img.png" alt="">
         </div>
         
    </div>
</div>