<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
       <div class="footer-logo-nd-content-wrap">
        <div class="footer-logo-wrap">
          <img src="./assets/src/icons/common/Footer-logo.svg" alt="">
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
       </div>
    </div>
    <div class="col-lg-8">
         <div class="row">
          <div class="main-tit-links">
            <p><a href="#">House Hunt</a></p>
            
            <p><a href="#">Desktop Valuation</a></p>
            
            <p><a href="#">Investable Score </a></p>
            
            <p><a href="#">Speak to an Expert</a></p>
          </div>
         </div>

         <div class="row">
          <div class="col-md-4">
            <div class="footer-Quick-Links-wrap">
            <p class="footer-Quick-Links-tit">
              Quick Links
            </p>

            <div class="footer-Quick-Links">
              <span>
                <img src="./assets/src/icons/common/white-right-arrow.svg" alt="">Latest News
              </span>
              <span>
                <img src="./assets/src/icons/common/white-right-arrow.svg" alt="">General Inquiries
              </span>
              <span>
                <img src="./assets/src/icons/common/white-right-arrow.svg" alt="">Case Studies
              </span>
            </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="Contact-Us-links-wrap">
              <p class="Contact-Us-links-tit">
                Contact Us
              </p>

              <div class="Contact-Us-links">
                <span>
                  <img src="./assets/src/icons/common/white-main-icon.svg" alt=""> contact@liasesforas.com
                </span>
                <span>
                  <img src="./assets/src/icons/common/white-call-icon.svg" alt=""> +91 9833344500
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="Follow-Us-links-wrap">
              <p class="Follow-Us-links-tit">
                Follow Us
              </p>

              <div class="Follow-Us-links">
                <a href="#">
                  <img src="./assets/src/icons/common/white-fb.svg" alt="">
                </a>
                <a href="#">
                  <img src="./assets/src/icons/common/white-insta.svg" alt="">
                </a>
                <a href="#">
                  <img src="./assets/src/icons/common/white-x.svg" alt="">
                </a>
                <a href="#">
                  <img src="./assets/src/icons/common/white-linkedin.svg" alt="">
                </a>
              </div>
            </div>
          </div>
         </div>

         
    </div>
  </div>

  <div class="row">
    <div class="privacy-policy-wrap">
      <p>© PropertyScience 2024 | All Rights Reserved</p>


      <span>
        <p>Privacy Policy</p>
        <p>Terms & Conditions</p>
        <p>Cookie Policy</p>
      </span>
    </div>
   </div>
</div>