<section class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="nav-bar-wraper">
                    <div class="nav-bar-logo">
                        <a href="#">
                        <img src="assets/src/images/header/main-logo.svg" alt="">
                         </a>
                    </div>

                    <div class="nav-options">
                        <a href="#">House Hunt</a>
                        <a href="#">Desktop Valuation</a>
                        <a href="#">Investable Score</a>
                        <a href="#">Speak to an Expert</a>
                    </div>

                    <div class="nav-btn-wrap">
                        <button class="nav-Log-In-btn">
                            Log In
                        </button>
                        
                        <button class="nav-Sign-Up-btn">
                            Sign Up
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>